<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
</head>
<body>

    <h1>Register</h1>
    <form action="/register_process" method="get">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="username">First name:</label><br>
        <input type="text" id="f_name" name="username" required><br>
        <label for="username">Last name:</label><br>
        <input type="text" id="l_name" name="username" required><br>
        <label for="username">Email:</label><br>
        <input type="text" id="email" name="username" required><br>
        <label for="username">Password:</label><br>
        <input type="text" id="password" name="username" required><br>
        <label for="username">Confirm password:</label><br>
        <input type="text" id="confirm_password" name="username" required><br>
        <input type="submit" value="Register">

    </form>


</body>
</html>